{{>layout/header}}
  {{>layout/algorithm_side}}

      <div class="col-lg-9">
        <img src="img/code3.jpg" class="img-fluid rounded">

        <div class="row">

          <div class="col-lg-5 col-md-7 mb-5">
            <div class="card h-100">
              <div class="card-header"></div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-7 mb-5">
            <div class="card h-100">
              <div class="card-header"></div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-7 mb-5">
            <div class="card h-100">
              <div class="card-header"></div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-7 mb-5">
            <div class="card h-100">
              <div class="card-header"></div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->
        <div class="footer-button">
          <a href="/diary/history/register" role="button" class="btn btn-secondary">코드 업로드</a>
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{{>layout/footer}}