<!-- Page Content -->
<div class="container main-content">

    <div class="row">

        <div class="col-lg-3">

            <h2 class="my-4"></h2>
            <div class="list-group">
                <h5 class = "left-menu">
                    <a href="/diary/history/cards" class="list-group-item"> 네떡</a>
                </h5>
                <h5>
                    <a href="/diary/history/cards" class="list-group-item"> 운영체제</a>
                </h5>
            </div>

        </div>
        <!-- /.col-lg-3 -->