{{>layout/header}}
  {{>layout/cs_side}}

      <div class="col-lg-9 main-content">
        <img src="static/img/code.jpg" class="img-fluid rounded">

        <div class="row">

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{{>layout/footer}}