<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Developer's Diary</h1>

    <form id="login-form" action="/diary/user/authenticate">
      <input type="text" name="name" id="username-field" class="login-form-field" placeholder="name">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="password">
      <br>
      <input type="submit" value="Login" id="login-form-submit" class="login-form-button">
      <input type="submit" value="SignUp" id="login-form-signup" class="login-form-button">
    </form>
  </main>

  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="js/login.js?ver=1"></script>
</body>

</html>