{{>layout/header}}

  {{>layout/history_side}}

      <div class="col-lg-9">
        <div id="blank"></div>
        <div class="row">

            <div class="col-lg-9 col-md-7 mb-5">
            <form class="project-container">
            <div class="form-group">
                <label for="title">제목</label>
                <div class="text-content">2020</div>
            </div>
            <div class="form-group">
                <label for="title">기간</label>
                <div class="text-content">2020</div>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <div class="text-content">2020</div>
            </div>
            <div class="form-group">
                <label for="author">종류</label>
                <div class="text-content">2020</div>
            </div>
            <div class="form-group">
                <label for="author">문제 상황</label>
                <textarea class="form-control" id="scenario" readonly>문제상황</textarea>
            </div>
            <div class="form-group">
                <label for="author">내용</label>
                <textarea class="form-control" id="scenario" readonly>시나리오</textarea>
            </div>
            <div class="form-group">
                <label for="content">테스트 시나리오</label>
                <textarea class="form-control" id="content" readonly>내용</textarea>
            </div>
            </form>
                <a href="/diary/projects" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-secondary" id="btn-save">수정</button>
            </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{{>layout/footer}}