<!-- Page Content -->
<div class="container main-content">

    <div class="row">

        <div class="col-lg-3">

            <h2 class="my-4"></h2>
            <div class="list-group">
                <h5 class = "left-menu">
                    <a href="/diary/algorithm/cards?date=2020-08-01" class="list-group-item"> 2020_08 </a>
                </h5>
                <h5>
                    <div class="list-group-item">...</div>
                </h5>
                <h5>
                    <a href="/diary/algorithm/cards?date=2021-04-01" class="list-group-item"> 2021_04 </a>
                </h5>
                <h5>
                    <a href="/diary/algorithm/cards?date=2021-05-01" class="list-group-item"> 2021_05 </a>
                </h5>
                <h5>
                    <a href="https://github.com/phcmas/algorithm/" class="list-group-item"> GitHub </a>
                </h5>
            </div>

        </div>
        <!-- /.col-lg-3 -->
